@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    src: url();
}


@font-face {
    font-family: ('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap');
    src: url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap');
}


#body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
} 

.row {
    margin: 0 !important;
    background-color: none
}


/* BEGINNING OF NAV BAR*/

.bg-white {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;;
}


.nav-search-icons {
    padding-top: 8px;
    margin-left: 20px;
}


.navbar-nav {
    font-size: 16px;
    font-weight: 600;
}

/* Beginning hero text body */

.maintext-all {
    padding-left: 16rem;
    text-align: center;
}

.maintext-1 {
    padding-top: 10rem;
}

.maintext-1 h1 {
    font-weight: 700;
    font-size: 70px;
    padding-bottom: 2rem;
}

/* End hero text body */


/* Beginning of hero-buttons */

.hero-page-btn-1 {
    color: #F5F7FA;
    background-color: #4CAF4F;
    border-radius: 0px;
    outline: none;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 75px;
    /* margin-top: 5%; */
}

.hero-page-btn-2 {

}


/* End of hero-buttons */




/* side-by-side */

.side-by-side p {
    padding-left: 5%;
    padding-top: 1px;
    
}
/* side-by-side */




/* BEGINNING OF FOOTER SESSION */

.for-all-footers {
    background-color: #212121;
    color: aliceblue;
}

.social-media {
    padding-left: 37%;
}

/* END OF FOOTER SESSION */