@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    src: url();
}


@font-face {
    font-family: ('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap');
    src: url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap');
}


#body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
} 

.row {
    margin: 0 !important;
    background-color: none
}


/* BEGINNING OF NAV BAR*/

.bg-white {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;;
}


.nav-search-icons {
    padding-top: 8px;
    margin-left: 20px;
}


.navbar-nav {
    font-size: 16px;
    font-weight: 600;
}

/* Beginning hero text body */

.maintext-all {
    padding-left: 16rem;
    text-align: center;
}

.maintext-1 {
    padding-top: 10rem;
}

.maintext-1 h1 {
    font-weight: 700;
    font-size: 70px;
    padding-bottom: 1rem;
}

/* End hero text body */


/* Beginning of hero-buttons */

.hero-page-btn-1 {
    color: #F5F7FA;
    background-color: #000001;
    border-radius: 0px;
    outline: none;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 70px;
}

.hero-page-btn-2 {
    color: #000001;
    border-radius: 0px;
    outline: 0px;
    background-color: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 70px;
}

.hero-page-btn-1 {
    margin-right: 1rem;
}

/* End of hero-buttons */


/* Beginning of all-hero-img */

.all-hero-img {
    padding-top: 3rem;
padding-left: 15rem;
}

.pho-2 {
    padding-right: 2rem;
    padding-top: 41%;
}

.pho-3 {
    padding-left: 2rem;
    padding-top: 41%;
}
/* End of all-hero-img */

/* <!-- HERO PAGE WORDS SESSION 2 --> */
.maintext-2 {
    padding-top: 4rem;
    padding-left: 35%;
    font-weight: 500;
}

.maintext-2 h2 {
    font-size: 33px;
    color: #212121;
    font-weight: 600;
}

/* <!-- END PAGE WORDS SESSION 2 --> */


/* <!-- BEGINNING OF HERO IMAGES SESSION 2 --> */

.phot-2 {
    padding-top: 4rem;
}

.women-all {
    padding-top: 2rem;
}

.women-all h5 {
    font-size: 26px;
    font-weight: 500;
}

/* <!-- END OF HERO IMAGES SESSION 2 --> */


/* <!-- Beginning of btn-view-all --> */

.btn-view-all-11 {
    padding-top: 4rem;
    padding-left: 42rem;
    padding-bottom: 8rem;
}

.btn-view-all-1 {
    color: #000001;
    border-radius: 0px;
    outline: 0px;
    background-color: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 70px;
}

/* <!-- End of btn-view-all --> */


/* <!--Beginning of explore-session-1 --> */

.explore-session-1 {
    padding-top: 24%;
    padding-left: 25%;
    padding-bottom: 18%;
    background-color: #F1F1F1;
}

.explore-session-1 h4 {
    color: #616161;
}

.explore-session-2 {
    padding-left: 5rem;
}


.explore-session-1 h1 {
    font-size: 52px;
    font-weight: 600;
    padding-bottom: 1rem;
}

.explore-session-1 p {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 5rem;
}


.btn-view-all-22 {
    color: #000001;
    border-radius: 0px;
    outline: 0px;
    background-color: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 70px;
}

/* <!--End of explore-session-1 --> */


.explore-session-3 {
    padding-top: 6rem;
}

.explore-session-33 {
    padding-top: 6rem;
    padding-left: 5rem;
}


.btn-view-all-l {
    padding-top: 6rem;
    padding-left: 42rem;
    padding-bottom: 4rem;
}

.btn-view-all-ll {
    color: #000001;
    border-radius: 0px;
    outline: 0px;
    background-color: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 70px;
}









/* side-by-side */

.side-by-side p {
    padding-left: 5%;
    padding-top: 1px;
    
}
/* side-by-side */




/* BEGINNING OF FOOTER SESSION */

.for-all-footers {
    background-color: #212121;
    color: aliceblue;
}

.social-media {
    padding-left: 37%;
}

/* END OF FOOTER SESSION */