@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    src: url();
}


@font-face {
    font-family: ('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap');
    src: url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap');
}


#body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
} 

.row {
    margin: 0 !important;
    background-color: none
}


/* BEGINNING OF NAV BAR*/

.bg-white {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;;
}


.byc-logo {
    padding-left: 115%;
}

.nav-search-icons {
    padding-top: 8px;
    margin-left: 20px;
}


.navbar-nav {
    font-size: 16px;
    font-weight: 600;
}

/* Beginning hero text body */

.maintext-all {
    padding-left: 16rem;
    text-align: center;
}

.maintext-1 {
    padding-top: 10rem;
}

.maintext-1 h1 {
    font-weight: 700;
    font-size: 70px;
    padding-bottom: 1rem;
}

/* End hero text body */


/* Beginning of hero-buttons */

.hero-page-btn-1 {
    color: #F5F7FA;
    background-color: #000001;
    border-radius: 0px;
    outline: none;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 70px;
}

.hero-page-btn-2 {
    color: #000001;
    border-radius: 0px;
    outline: 0px;
    background-color: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 70px;
}

.hero-page-btn-1 {
    margin-right: 1rem;
}

/* End of hero-buttons */


/* Beginning of all-hero-img */

.all-hero-img {
    padding-top: 3rem;
padding-left: 15rem;
}

.pho-2 {
    padding-right: 2rem;
    padding-top: 41%;
}

.pho-3 {
    padding-left: 2rem;
    padding-top: 41%;
}
/* End of all-hero-img */

/* <!-- HERO PAGE WORDS SESSION 2 --> */
.maintext-2 {
    padding-top: 4rem;
    padding-left: 36%;
    font-weight: 500;
}

.maintext-2 h2 {
    font-size: 33px;
    color: #212121;
    font-weight: 600;
}

/* <!-- END PAGE WORDS SESSION 2 --> */


/* <!-- BEGINNING OF HERO IMAGES SESSION 2 --> */

.phot-2 {
    padding-top: 4rem;
}

.women-all {
    padding-top: 2rem;
}

.women-all h5 {
    font-size: 26px;
    font-weight: 500;
}

/* <!-- END OF HERO IMAGES SESSION 2 --> */


/* <!-- Beginning of btn-view-all --> */

.btn-view-all-11 {
    padding-top: 4rem;
    padding-left: 42rem;
    padding-bottom: 8rem;
}

.btn-view-all-1 {
    color: #000001;
    border-radius: 0px;
    outline: 0px;
    background-color: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 70px;
}

/* <!-- End of btn-view-all --> */


/* <!--Beginning of explore-session-1 --> */

.explore-session-1 {
    padding-top: 24%;
    padding-left: 25%;
    padding-bottom: 18%;
    background-color: #F1F1F1;
}

.explore-session-1 h4 {
    color: #616161;
}

.explore-session-2 {
    padding-left: 5rem;
}


.explore-session-1 h1 {
    font-size: 52px;
    font-weight: 600;
    padding-bottom: 1rem;
}

.explore-session-1 p {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 5rem;
}


.btn-view-all-22 {
    color: #000001;
    border-radius: 0px;
    outline: 0px;
    background-color: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 70px;
}

/* <!--End of explore-session-1 --> */


/* <!-- Beginning of explore-session-3 --> */

.explore-session-3 {
    padding-top: 6rem;
}

.explore-session-33 {
    padding-top: 6rem;
    padding-left: 5rem;
}


.btn-view-all-l {
    padding-top: 6rem;
    padding-left: 42rem;
    padding-bottom: 4rem;
}

.btn-view-all-ll {
    color: #000001;
    border-radius: 0px;
    outline: 0px;
    background-color: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 70px;
}

/* <!-- End of explore-session-3 --> */



/* <!-- HERO PAGE WORDS SESSION 3 --> */

.maintextt-2 {
    padding-top: 4rem;
    padding-left: 41%;
    font-weight: 500;
}

.maintextt-2 h2 {
    font-size: 33px;
    color: #212121;
    font-weight: 600;
}

/* <!-- END HERO PAGE WORDS SESSION 3 --> */


/* <!-- Beginning for-woman-man-click --> */

.for-woman-man-click {
    padding-top: 6rem;
    padding-left: 38%;
    font-size: 18px;
    font-weight: 500;
}

.nav-item {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.t-shirt-session {
    padding-top: 6rem;
    padding-left: 37%;
    font-size: 18px;
    font-weight: 500;
}

.nav-ite-t {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

/* <!--End for-woman-man-click --> */

/* <!-- BEGINNING OF HERO IMAGES SESSION 2 --> */

.arrow-1 {
    padding-top: 150%;
}

.arrow-2 {
    padding-top: 150%;
    padding-left: 5rem;
}

.side-by-side {
    padding-left: 1rem;
}

.amount {
    padding-left: 1rem;
}

.pho-3-1 {
    padding-left: 2rem;
    padding-top: 70%;
}




/* <!-- END OF HERO IMAGES SESSION 2 --> */

/* <!-- Beginning of btn-view-all --> */

.btn-view-all-a1 {
    padding-top: 6rem;
    padding-left: 42rem;
    padding-bottom: 4rem;
}

.btn-view-all-a2 {
    color: #000001;
    border-radius: 0px;
    outline: 0px;
    background-color: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 70px;
}

/* <!-- End of btn-view-all --> */


/* <!-- HERO PAGE WORDS SESSION 3 --> */

.maintext-f2 {
    padding-top: 3rem;
    padding-left: 40%;
    font-weight: 500;
    padding-bottom: 6rem;
}

.maintext-f2 {
    font-size: 33px;
    color: #212121;
    font-weight: 600;
}

/* <!-- END HERO PAGE WORDS SESSION 3 --> */



/* <!-- Beginning of blog images --> */


.view-and-like h6 {
    padding-top: 1rem;
    
}

.view-and-like, .wade-warrens {
    padding-top: 2rem;
    /* padding-left: 2rem; */
}

.add-bg {
    background-color: #E0E0E0;
}

/* .view-and-like img {
    padding-left: 1rem;
} */

.wade-warrens h3 {
    font-size: 27px;
    color: #212121;
    font-weight: 700;
}

.wade-warrens p {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 2rem;
}


.btn-view-all-222 {
    color: #000001;
    border-radius: 0px;
    outline: 0px;
    background-color: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    padding: 5px 10px;
}



.btn-view-all-b1 {
    padding-top: 10rem;
    padding-left: 42rem;
    padding-bottom: 4rem;
}

.btn-view-all-b2 {
    color: #000001;
    border-radius: 0px;
    outline: 0px;
    background-color: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 70px;
}



/* <!-- End of blog images --> */




/* side-by-side */

.side-by-side p {
    padding-left: 5%;
    padding-top: 1px;
    
}
/* side-by-side */




/* BEGINNING OF FOOTER SESSION */

.for-all-footers {
    background-color: #212121;
    color: aliceblue;
}

.social-media {
    padding-left: 37%;
}

/* END OF FOOTER SESSION */



@media (min-width: 320px) and (max-width: 667px) {

    
    .navbar-nav {
        font-display: none;
    }

.maintext-all {
    padding-left: 0;
}

.maintext-1 {
    padding-top: 10rem;
}

.maintext-1 h3 {
    font-size: 20px;
}

.maintext-1 h1 {
    font-size: 42px;
}

.hero-page-btn-1 {
    padding: 11px 111px;
    align-items: center;
    margin-right: 0px;
}

.hero-page-btn-2 {
    padding: 12px 111px;
    margin-top: 1rem;
}

.navbar-nav .nav-link {
    display: none;
}

.all-hero-img {
    padding-left: 0px;
    
}

.pho-2 {
    padding-top: 1rem;
    padding-right: 0rem;
}

.pho-3 {
    padding: 0;
    padding-top: 2rem;
    
}

.pho-1 img {
    width: 100%;
    padding-top: 2rem;
}

.maintext-2 {
    padding-left: 0%;
    text-align: center;
}

.phot-2 img {
    width: 100%;
}

.btn-view-all-11 {
    padding-left: 0;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.btn-view-all-1 {
    padding: 10px, 60px;
}

.explore-session-1 {
    padding-left: 2rem;
    padding-right: 1rem;
    padding-top: 4rem;
}


.explore-session-1 h4 {
    font-size: 20px;
}

.explore-session-1 h1 {
    font-size: 37px;
}

.explore-session-1 p {
    padding-bottom: 2rem;
}

.explore-session-2 {
    padding-left: 0;
    padding-top: 5rem;
}

.explore-session-2 img {
    width: 20rem;
}

.explore-session-3 {
    padding-top: 4rem;
}

.explore-session-3 img {
    width: 20rem;
}

.explore-session-33 {
    padding-top: 4rem;
    padding-left: 0;
}

.explore-session-33 img {
    width: 20rem;
}

.btn-view-all-l {
    padding-top: 4rem;
    padding-left: 0;
}

.maintextt-2 {
    padding-left: 5%;
    padding-top: 0;
}

.for-woman-man-click {
    padding-left: 3%;
    padding-top: 4rem;
    
}

.t-shirt-session {
    padding-top: 4rem;
    padding-left: 1%;
    font-size: 16px;
}

.arrow-1 {
    padding-top: 2rem;
}















}