@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    src: url();
}


@font-face {
    font-family: ('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap');
    src: url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap');
}


/* BEGINNING OF NAV BAR*/

#body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
} 

.row {
    margin: 0 !important;
    background-color: none
}

.bg-white {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;;
}

.nav-search-icons {
    padding-top: 8px;
    margin-left: 20px;
}


.byc-logo {
    padding-left: 115%;
}

.navbar-nav {
    font-size: 16px;
    font-weight: 600;
}


/* <!-- HERO PAGE WORDS SESSION 1 --> */

.maintext-1 {
    padding-top: 10rem;
    padding-left: 42%;
    font-weight: 500;
    padding-bottom: 6rem;
}

/* <!-- END OF HERO PAGE WORDS SESSION 1 --> */



/* <!-- Beginning of fashion trend---> */


.fashion-trend h3 {
    font-size: 29px;
    color: #212121;
    font-weight: 600;
}

.fashion-trend p {
    font-size: 16px;
    font-weight: 400;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.btn-view-all-1 {
    color: #000001;
    border-radius: 0px;
    outline: 0px;
    background-color: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    padding: 5px 10px;
    padding-bottom: 2rem;
}

.view-and-like {
    padding-bottom: 1rem;
}




/* BEGINNING OF MIDDLE CONTENT AND IMAGE */

.middle-content-image-1 h3 {
    padding-top: 10rem;
    font-size: 29px;
    color: #212121;
    font-weight: 600;
}

.middle-content-image-2 img {
    padding-top: 10rem;
}



.middle-content-image-1 p {
    font-size: 16px;
    font-weight: 400;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.middle-content-image-2 {
    padding-bottom: 10rem
}


/* END OF MIDDLE CONTENT AND IMAGE */

/* <!-- End of fashion trend---> */














/* <!-- Beginning of fashion trend---> */

























/* BEGINNING OF FOOTER SESSION */

.for-all-footers {
    background-color: #212121;
    color: aliceblue;
}

.social-media {
    padding-left: 37%;
}

/* END OF FOOTER SESSION */